---
const pageTitle = "Nosotros";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>
            nav a {
                margin-right: 10px;
                text-decoration: none;
                color: rgba(255, 0, 179, 0.884);
            }
            body {
                font-family: Arial, sans-serif;
                margin: 20px;
                color:rgba(60, 255, 0, 0.884);
            }
        </style>
	</head>
	<body>
        <nav> 
        <a href="/">inicio</a>
        <a href="/about"> nosotros</a>
        <a href="/Blog"> mi blog</a>
		</nav>
		<h1>Sobre nosotros</h1>
		<p> chachi de la peluca</p>
        <p> españa ganará el mundial</p>
		<h2>Alemania perdió el mundial</h2>
	</body>
</html>