---
import'../styles/style.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
        <nav> 
            <a href="/"> inicio</a>
            <a href="/about"> nosotros</a>
            <a href="/Blog"> mi blog</a>
        </nav>
		<h1>nuestro blog</h1>
		<p> chachi de la peluca</p>
		<h2>Alemania perdió el mundial</h2>
        <ul>
            <li><a href="/posts/post-1">Mi post 1</a></li>
            <li><a href="/posts/post-2">Mi post 2</a></li>
            <li><a href="/posts/post-3">Mi post 3</a></li>
        </ul>
	</body>
</html>
